body{
    background-color: rgb(20, 17, 20);
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 35, 41);
    margin: 0;
    width: 100%;
}
header h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-style: italic;
}
a{
    text-decoration: none;
}
p{
    color: white;
    font-size: 20px;
}
nav{
    text-decoration: none;
    color: white;
    padding: 1%;
}
nav a{
    color: white;
    margin-inline: 50px;
    border-radius: 60px;
    padding: 10px;
    transition: 0.2s;
    font-size: 20px;
}
nav a:hover{
    color: rgb(20, 17, 20);
    background-color: white;
    border-radius: 60px;
    padding: 10px;
    transition: 0.2s;
}
main{
    text-align: center;
}
.buscar{
    padding: 15px;
}
.todasAsSeries{
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5%;
    width: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.imgEgenero{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.imgEgenero img{
    display: block;
    z-index: 1;
}
.sobreposicao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); 
    z-index: 2;
    min-height: 30%;
    border-radius: 10px;
}
.genero{
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    left: 5%;
    background-color: rgb(41, 35, 41);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    outline: solid white 1px;
}
.series{
    background-color: rgb(41, 35, 41);
    padding: 10px;
    border-radius: 15px;
    outline: solid white 1px;
}
.series img{
    height: 300px;
    width: 550px;
    border-radius: 10px;
}
.series h2{
    font-size: 35px;
    text-transform: uppercase;
}
.sinopseCurta, .sinopse{
    width: 450px;
    padding: 0px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.botaoVerMais{
    padding: 0px 0px 20px;
}
.verMais{
    text-decoration: none;
    background-color: rgb(100, 15, 48);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}
.formulario{
    width: 250px;
    margin: auto;
    resize: none;
}
textarea{
    width: 250px;
    height: 100px;
    resize: none;
}
.formulario input, .formulario select, .formulario textarea, .formulario button{
    width: 100%;
    margin-bottom: 10px;
}
.erro, .sucesso{
    color: white;
    font-style: italic;
}
.caixaRemover{
    display: none;
}

.caixaRemover:target{
    display: block;
}