html {
    height: 100%;
}

body {
    background: linear-gradient(to top, rgb(12, 10, 12), rgb(13, 11, 13));
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(41, 35, 41, 1));
    margin: 0;
    width: 100%;
    outline: solid white 1px;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a {
    color: white;
    margin-inline: 15px;
    border-radius: 60px;
    padding: 10px;
    transition: 0.2s;
    font-size: 20px;
    text-transform: uppercase;
}

nav a:hover {
    color: white;
    background-color: rgb(54, 46, 54);
    border-radius: 60px;
    padding: 10px;
    transition: 0.2s;
}

.desabilitado{
    color: #ccc;
    cursor: not-allowed;
}

main {
    text-align: center;
}

.mainDetalhes {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #0D0B0D 10%, #640f3080 90%);
}

.comentarios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    border-radius: 3px;
    height: 500px;
    text-align: left;
    outline: 1px solid white;
    margin: 3%;
    padding: 0px 5px;
}

.listaComentarios {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.formComentario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.formComentario input {
    width: 80%;
    height: 35px;
    margin-right: 10px;
    margin-top: 10px;
}

.formComentario button {
    height: 35px;
    margin-top: 10px;
    cursor: pointer
}

.menu img {
    width: 350px;
    border-radius: 60px;
    transition: 0.2s;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.buscar {
    padding: 15px;
}

.buscar form {
    display: flex;
    gap: 8px;
    align-items: center;
}

.buscar input,
.buscar select,
.buscar button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


select {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccccccd8;
    color: black
}

input,
textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ccccccd8;
}

input::placeholder,
textarea::placeholder {
    color: black;
}

button {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #cccccc18;
    color: white;
    cursor: pointer;
}

.todasAsSeries {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 3%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

.imgEgeneroDetalhadas {
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}


.imgEgenero,
.imgEgeneroDetalhadas {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* width: 98%; */
}

.imgEgenero img {
    display: block;
    z-index: 1;
    width: 100%;
}

.sobreposicao {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    z-index: 2;
    min-height: 30%;
    border-radius: 10px;
}

.genero {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    left: 5%;
    background-color: rgb(41, 35, 41);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    outline: solid white 1px;
}

.series {
    background-color: rgb(41, 35, 41);
    padding: 10px;
    border-radius: 15px;
    outline: solid white 1px;
    max-width: 380px;
    height: 500px;
}

.divCard{
    width: 60%;
}

.seriesDetalhadas {
    display: flex;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: 20% center;

    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1230px;
    min-height: 500px;
   
}

.divSerie {
    width: 60%;
    text-align: left;
}


.avaliar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    height: 150px;
    /* background-color: #0D0B0D; */
}

.divSerie button {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s ;
    width: 150px;
    height: 25px;
    text-align: left;
    margin-top: 3px;
    /* background-color: #640f30; */
    
}

.divSerie button:hover {
    font-size: 1.1em;
    transition: 0.5s;
}

.seriesDetalhadas img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.series img {
    height: 220px;
    width: 380px;
    border-radius: 10px;
    object-fit: cover;

}

.series h2 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sinopseCurta,
.sinopse {
    width: 380px;
    padding: 0px 0px 30px;
    margin: 0 auto;
    text-align: center;
}

.botaoVerMais {
    display: block;
    text-align: center;
    padding: 10px 0px 20px;
}

.verMais {
    text-decoration: none;
    background-color: #640f30;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.verMais:hover {
    text-decoration: none;
    background-color: rgb(66, 8, 30);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
    transition: 0.2s;
}


.formulario {
    margin: auto;
    resize: none;
    background-color: rgb(41, 35, 41);
    padding: 10px;
    border-radius: 15px;
    outline: solid white 1px;
    width: 500px;
    margin-top: 30px;
    height: 500px;
}

textarea {
    width: 250px;
    height: 100px;
    resize: none;
}

.formulario input,
.formulario select,
.formulario textarea,
.formulario button {
    width: 100%;
    margin-bottom: 10px;
}

.formulario button {
    cursor: pointer;
}

.mensagens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.erro,
.sucesso {
    color: white;
    font-style: italic;
    text-align: center;
}

.caixaRemover {
    display: none;
}

.caixaRemover:target {
    display: block;
}

.naoEncontrado {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}